#customer_information_input_row{

  padding: 10% 10%;
  color: white;
}
#customer_information_input_col{
  padding: 1% 0%;
}
#additional_information_input_field{
  height: 200px;
}
#submit_button
{
  color: white;
}