
#main_div_espp{
  margin-top: 10%;
  height: 90%;
  width: 100%;
  position: absolute;
}
#show_list_div_espp{
  border:solid;
  height: 80%;
  width: 95%;
  position: absolute;
  overflow: scroll;
  margin: 0 2% 5% 2%;
}
#espp_title{
  width: 95%;
  margin: 0 2%;
  text-align: center;
}
#search_div_espp{
  width: 90%;
  height: 7%;
  margin-left: 3%;
}
.filter_inputs_espp{
  width: 100%;
}
#search_button_espp{
  font-size: 22px;
  cursor: pointer;
  height: 70%;
  text-align: center;
  background-color: white;
  &:hover{
    border: solid 2px $Black ;
  }
}
#title_esp{
  padding: 0;
  margin: 0;
}