#email_send_plan_page{
  width: 83.33%;
  height: 100%;
  position: absolute;
  background-color: gainsboro;

}
#main_div_espp{
  margin-top: 10%;
  height: 80%;
  width: 100%;
  position: absolute;
}
#show_list_div_espp{
  border:solid;
  height: 95%;
  width: 90%;
  position: absolute;
  overflow: scroll;
  margin: 0 5% 5% 5%;
}