
#login_page{
  transform: translateX(100%);
}
#welcome_page{
  transform: translateX(100%);
}
#login_button_loginpage{
  bottom: 20%;
  width:100%;
  height: 20%;
  text-align: center;
  position:absolute;
}
#username_input_div{
  position: absolute;
  left:41%;
  height: 20%;
  width: 20%;
  bottom: 40%;
  @media (max-width: 1024px) {
    left: 32%;
    width:40%;
  }
  @media (max-width: 414px) {
    left: 10%;
    width:90%;
  }
}
#password_input_div{
  position: absolute;
  left:41%;
  height: 20%;
  width: 20%;
  bottom: 30%;
  @media (max-width: 1024px) {
    left: 32%;
    width:40%;
  }
  @media (max-width: 414px) {
    left: 10%;
    width:90%;
  }
}