#main_div_mpep{
  margin-top: 10%;
  height: 90%;
  width: 100%;
  position: absolute;
}
#search_div_mpep{
  width: 90%;
  height: 7%;
  margin-left: 3%;
}
#mpep_title{
  width: 95%;
  margin: 2% 2% 0% 2%;
  text-align: center;
}
#show_list_div_mpep{
  border:solid;
  height: 80%;
  width: 95%;
  position: absolute;
  overflow: scroll;
  margin: 0 2% 5% 2%;
}
#search_button_mpep{
  font-size: 22px;
  cursor: pointer;
  height: 70%;
  text-align: center;
  background-color: white;
  &:hover{
    border: solid 2px $Black ;
  }
}
.status_change_button{
  background-color: blanchedalmond;
  border: solid 1px;
  cursor: pointer;
  &:hover{
    background-color: white;
  }
}
.payment_event_list {
  border: solid;
  border-top: hidden;
  border-width: 1px;
  overflow: hidden;
  cursor: default; }
