@import url(2-vendor/bootstrap/bootstrap.css);
body {
  font-weight: lighter; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

input {
  width: 90%; }

.menu {
  width: 83.33%;
  height: 100%;
  position: absolute;
  background-color: gainsboro;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  @media (max-width: 414px) {
    .menu {
      top: 0; } }

.title_label {
  top: 5%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 30px; }

.row {
  height: 100%;
  padding: 0;
  margin: 0; }

.col-xl-3 {
  padding: 0; }

.main_header {
  position: fixed;
  width: 100vw;
  background: rgba(77, 175, 80, 0);
  height: 6vh;
  z-index: 999; }

.circle_button {
  position: absolute;
  margin: 6vh 10vh 10vh 10vh;
  width: 6vh;
  padding-top: 6vh;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: white; }
  .circle_button .rotated_icons {
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    position: absolute;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
    .circle_button .rotated_icons .bar_in_circle_button {
      position: relative;
      background-color: #2C3044;
      width: 100%;
      height: 12%;
      margin-top: 20%; }

.circle_button_back {
  position: absolute;
  -webkit-border-radius: 3vh;
          border-radius: 3vh;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
  z-index: -1;
  overflow: hidden; }
  .circle_button_back .circle_button_background {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-border-radius: 3vh;
            border-radius: 3vh;
    background-color: #2C3044;
    opacity: 0.3; }
  .circle_button_back .menu_text {
    -webkit-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 20px;
    color: white;
    opacity: 0; }
    @media (max-width: 1800px) {
      .circle_button_back .menu_text {
        font-size: 16px; } }
    @media (max-width: 1024px) {
      .circle_button_back .menu_text {
        font-size: 25px; } }
    @media (max-width: 768px) {
      .circle_button_back .menu_text {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .circle_button_back .menu_text {
        font-size: 15px; } }

._365_financial_button {
  position: absolute;
  margin: 90vh 10vh 10vh 30vh;
  width: 6vh;
  padding-top: 6vh;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #2C3044;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  opacity: 0.5; }
  @media (max-width: 1080px) {
    ._365_financial_button {
      margin: 90vh 10vh 10vh 15vh; } }
  @media (max-width: 414px) {
    ._365_financial_button {
      margin: 90vh 10vh 10vh 8vh; } }
  @media (max-width: 376px) {
    ._365_financial_button {
      font-size: 18px; } }
  @media (max-width: 321px) {
    ._365_financial_button {
      font-size: 15px; } }
  ._365_financial_button .rotated_icons {
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    position: absolute;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  ._365_financial_button .first_dot {
    background-color: white;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 10%;
    left: 10%; }
  ._365_financial_button .second_dot {
    background-color: white;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 10%;
    right: 10%; }
  ._365_financial_button .third_dot {
    background-color: white;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    left: 10%; }
  ._365_financial_button .fourth_dot {
    background-color: white;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    right: 10%; }

#login_button {
  margin-top: 6vh;
  margin-right: 0; }

#login_button_back {
  right: 0;
  top: 0; }

.login_image {
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  overflow: hidden;
  background-color: white; }

.login_image_inner {
  top: 12%;
  right: 5%;
  height: 90%;
  width: 90%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  overflow: hidden; }

#login_text {
  right: 50%; }

.contact_us_button {
  position: absolute;
  margin-top: 87vh;
  margin-left: 10vw;
  right: 10%;
  z-index: 0;
  width: 10vw;
  padding-top: 6vh;
  -webkit-border-radius: 6vh;
          border-radius: 6vh;
  background-color: #2C3044;
  color: white;
  overflow: hidden;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.8; }
  .contact_us_button #contact_us_text {
    top: 30%;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center; }

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6vh 10vh 10vh 10vh;
  width: 6vh;
  padding-top: 6vh;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: white; }
  .close_button .rotated_icons {
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    position: absolute;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
    .close_button .rotated_icons .X_in_close_button {
      position: absolute;
      background-color: #2C3044;
      width: 100%;
      height: 8%;
      margin-top: 46%; }
    .close_button .rotated_icons #X_in_close_button_0 {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .close_button .rotated_icons #X_in_close_button_1 {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.close_button_front {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.close_button_back {
  position: absolute;
  -webkit-border-radius: 3vh;
          border-radius: 3vh;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
  z-index: -1; }
  .close_button_back .close_button_background {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-border-radius: 3vh;
            border-radius: 3vh;
    background-color: #2C3044;
    opacity: 0.3; }
  .close_button_back .menu_text {
    -webkit-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    position: absolute;
    top: 30%;
    right: 50%;
    font-size: 20px;
    color: white;
    opacity: 0; }
    @media (max-width: 1800px) {
      .close_button_back .menu_text {
        font-size: 16px; } }
    @media (max-width: 1024px) {
      .close_button_back .menu_text {
        font-size: 25px; } }
    @media (max-width: 768px) {
      .close_button_back .menu_text {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .close_button_back .menu_text {
        font-size: 15px; } }

#_365_logo_div {
  position: absolute;
  margin-top: 0vh;
  height: 10vh;
  width: 25vw;
  margin-left: 20%;
  background-size: cover; }

.buttons {
  border: none;
  outline: none;
  background-color: rgba(234, 236, 237, 0);
  color: white;
  text-decoration: none;
  font-family: Arial;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 15%; }
  @media (max-width: 1440px) {
    .buttons {
      font-size: 25px; } }
  @media (max-width: 768px) {
    .buttons {
      font-size: 20px; } }
  @media (max-width: 414px) {
    .buttons {
      font-size: 20px; } }
  @media (max-width: 376px) {
    .buttons {
      font-size: 18px; } }
  @media (max-width: 321px) {
    .buttons {
      font-size: 15px; } }

.buttons:hover {
  color: #2C3044; }

.login_button:hover {
  color: #3F4255; }

.header_button:hover {
  color: #3F4255; }

#system_manage_page {
  background-color: #70C1b3;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  bottom: 0; }

#main_smp_div {
  position: absolute;
  top: 15%;
  height: 85%;
  width: 100%; }

.smp_list_div {
  padding: 12% 0% 0% 0%;
  position: absolute;
  height: 100%;
  width: 97%; }

#recent_send_smp_list_title {
  text-align: center; }

.smp_list_show_div {
  position: absolute;
  height: 70%;
  width: 100%;
  overflow: scroll;
  border: solid black 2px; }

#recent_send_smp_list_title {
  margin: 0%; }

#send_plan_smp_list_title {
  text-align: center; }

#menu_smp {
  margin-top: 0%; }

.pop_up_div_frame {
  bottom: 12%;
  left: 0;
  position: absolute;
  width: 40%;
  height: 50%;
  background-color: #00cc99;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.close_button_bud {
  top: 5px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  z-index: 10; }
  .close_button_bud:hover {
    color: red; }

.send_history_list {
  border: solid;
  border-top: hidden;
  border-width: 1px;
  overflow: hidden;
  cursor: pointer; }
  .send_history_list:hover {
    background-color: white; }

.send_plan_list {
  border: solid;
  border-top: hidden;
  border-width: 1px;
  overflow: hidden;
  cursor: pointer; }
  .send_plan_list:hover {
    background-color: white; }

.send_history_list_row {
  overflow-x: scroll; }

#main_div_eshp {
  margin-top: 10%;
  height: 90%;
  width: 100%;
  position: absolute; }

#show_list_div_eshp {
  border: solid;
  height: 80%;
  width: 95%;
  position: absolute;
  overflow: scroll;
  margin: 0 2% 5% 2%; }

.history_and_plan_email_list {
  border: solid;
  border-top: hidden;
  border-width: 1px;
  overflow: hidden;
  cursor: default; }

.history_and_plan_email_ul {
  margin: 0;
  padding: 0; }

#list_0 {
  border-top: solid;
  border-width: 1px; }

#eshp_title {
  width: 95%;
  margin: 0 2%;
  text-align: center; }

.sort_button {
  cursor: pointer; }

#search_div_eshp {
  width: 90%;
  height: 7%;
  margin-left: 3%; }

#search_input_eshp {
  width: 100%; }

#search_button_eshp {
  font-size: 22px;
  cursor: pointer;
  height: 70%;
  text-align: center;
  background-color: white; }
  #search_button_eshp:hover {
    border: solid 2px #2C3044; }

#main_div_espp {
  margin-top: 10%;
  height: 90%;
  width: 100%;
  position: absolute; }

#show_list_div_espp {
  border: solid;
  height: 80%;
  width: 95%;
  position: absolute;
  overflow: scroll;
  margin: 0 2% 5% 2%; }

#espp_title {
  width: 95%;
  margin: 0 2%;
  text-align: center; }

#search_div_espp {
  width: 90%;
  height: 7%;
  margin-left: 3%; }

.filter_inputs_espp {
  width: 100%; }

#search_button_espp {
  font-size: 22px;
  cursor: pointer;
  height: 70%;
  text-align: center;
  background-color: white; }
  #search_button_espp:hover {
    border: solid 2px #2C3044; }

#title_esp {
  padding: 0;
  margin: 0; }

#main_div_aesp {
  height: 90%;
  background-color: gainsboro;
  margin-top: 10%; }

#left_sub_div_aesp {
  padding: 5% 5% 5% 5%; }

.custom_div_0 {
  margin-bottom: 5%; }

.custom_label_0 {
  font-size: 22px; }

.custom_text_input_0 {
  width: 20vw; }

#send_period_aesp {
  text-align: center;
  font-size: 22px; }

#pay_frequency_annually {
  text-align: center;
  border: solid;
  background-color: white;
  height: 35px; }

#pay_frequency_monthly {
  text-align: center;
  border: solid;
  border-left: hidden;
  height: 35px; }

#right_sub_div_aesp {
  padding: 5% 5% 5% 5%; }

#day_aesp {
  height: 10vh;
  overflow: scroll; }

#pay_date_day_div_aesp {
  max-height: 10vh; }

#pay_date_month_aesp {
  width: 100%;
  height: 30px; }

#pay_date_day_aesp {
  width: 100%;
  height: 30px; }

.input_checkbox {
  width: 10%; }

#submit_button_aesp {
  text-align: center;
  width: 80%;
  margin: 10%;
  border: solid; }
  #submit_button_aesp:hover {
    background-color: white; }

#insurance_type {
  height: 30px; }

#home_insurance_usability {
  height: 30px;
  display: none; }

#insured_address {
  display: none; }

#remind_method_check_box {
  font-size: 22px;
  padding: 0; }

.send_history_list_row {
  text-align: center; }

.pop_up_div_main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white; }

.pop_up_div_title {
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 20px; }

.pop_up_div_body {
  margin: 20px; }

#unpaid_emails_list_in_popup {
  margin: 1% 5% 10% 5%;
  position: absolute;
  height: 80%;
  width: 90%;
  overflow: scroll;
  border: solid black 2px; }

#unpaid_email_list {
  height: 100%; }

#title_ul_popup {
  width: 90%;
  margin: 5% 5% 1% 5%; }

#double_check_page {
  position: fixed;
  height: 80vh;
  width: 83.33vw;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }

#double_check_title {
  text-align: center;
  font-size: 25px;
  margin: 3%; }

#main_table_dcp {
  height: 55vh; }

#submit_button_dcp {
  font-size: 25px;
  height: 5vh;
  border: solid;
  text-align: center;
  cursor: pointer; }
  #submit_button_dcp:hover {
    background-color: gainsboro; }

#back_button_dcp {
  font-size: 25px;
  height: 5vh;
  border: solid;
  text-align: center;
  border-left: none;
  cursor: pointer; }
  #back_button_dcp:hover {
    background-color: gainsboro; }

#main_div_mpep {
  margin-top: 10%;
  height: 90%;
  width: 100%;
  position: absolute; }

#search_div_mpep {
  width: 90%;
  height: 7%;
  margin-left: 3%; }

#mpep_title {
  width: 95%;
  margin: 2% 2% 0% 2%;
  text-align: center; }

#show_list_div_mpep {
  border: solid;
  height: 80%;
  width: 95%;
  position: absolute;
  overflow: scroll;
  margin: 0 2% 5% 2%; }

#search_button_mpep {
  font-size: 22px;
  cursor: pointer;
  height: 70%;
  text-align: center;
  background-color: white; }
  #search_button_mpep:hover {
    border: solid 2px #2C3044; }

.status_change_button {
  background-color: blanchedalmond;
  border: solid 1px;
  cursor: pointer;
  text-align: center; }
  .status_change_button:hover {
    background-color: white; }

.payment_event_list {
  border: solid;
  border-top: hidden;
  border-width: 1px;
  overflow: hidden;
  cursor: default; }

#main_div_mip {
  margin-top: 10%;
  height: 90%;
  width: 100%;
  position: absolute; }

#search_div_mip {
  width: 90%;
  height: 7%;
  margin-left: 3%; }

#mip_title {
  width: 95%;
  margin: 2% 2% 0% 2%;
  text-align: center; }

#show_list_div_mip {
  border: solid;
  height: 80%;
  width: 95%;
  position: absolute;
  overflow: scroll;
  margin: 0 2% 5% 2%; }

#search_button_mip {
  font-size: 22px;
  cursor: pointer;
  height: 70%;
  text-align: center;
  background-color: white; }
  #search_button_mip:hover {
    border: solid 2px #2C3044; }

.insurance_list {
  border: solid;
  border-top: hidden;
  border-width: 1px;
  overflow: hidden;
  cursor: pointer; }
  .insurance_list:hover {
    background-color: white; }

#edit_insurance_page {
  position: fixed;
  height: 80vh;
  width: 83.33vw;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }

#main_div_eip {
  margin-top: 5%;
  height: 95%; }

#home_insurance_usability_eip {
  display: none; }

#insured_address_eip {
  display: none; }

#pay_frequency_annually_eip {
  text-align: center;
  border: solid;
  background-color: white;
  height: 35px; }

#pay_frequency_monthly_eip {
  text-align: center;
  border: solid;
  border-left: hidden;
  height: 35px; }

#button_row_eip {
  width: 100%;
  height: 5%;
  text-align: center;
  border: solid 1px; }

#submit_button_eip {
  border-right: solid 1px;
  background-color: limegreen;
  opacity: 0.7; }
  #submit_button_eip:hover {
    opacity: 1; }

#delete_button_eip {
  border-right: solid 1px;
  background-color: red;
  opacity: 0.7; }
  #delete_button_eip:hover {
    opacity: 1; }

#cancel_button_eip {
  background-color: yellow;
  opacity: 0.7; }
  #cancel_button_eip:hover {
    opacity: 1; }
